*.pkl
*.pyc
*~
*.gz
*.h5

.env
.idea
.settings
.pydevproject
.project



data/ace
data/conll2003_ner
data/ecb+
data/tac2015
data/tempeval3
data/wsj_pos
data/removeComments.py
data/conll2003_ner_german
data/morphtag-german
data/morphtag-latin
